.header{
    display: flex;
    align-items: center;
    height: 50px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding:20px;
}

.header_image{
    height: 100%;
    margin-right: 7px;
    padding: 10px;
}

.header_title{
    font-size: 25px;
    margin-right: auto;
}

.header_project{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
}